In [ ]:
listA=["ansar","riyas","thoufeeque",1,2,3]
print(listA)

['ansar', 'riyas', 'thoufeeque', 1, 2, 3]

In [ ]:
a=["apple","android",1,2,3]
print(a)

['apple', 'android', 1, 2, 3]

In [ ]:
lang=["c","c++",1,2,3]
print('lang')

lang

In [ ]:
print(len(lang))

5

In [ ]:
print(lang[1])

c++

In [ ]:

a=[1,2,3] #first list
b=[4,5,6] #second list
sum= a+b
print(sum)

[1, 2, 3, 4, 5, 6]

In [ ]:
#to update
fruits=["onion","tomato","pineapple"]
fruits[0]="bannana"
print(fruits)

['bannana', 'tomato', 'pineapple']

In [ ]:
# to update the list
sum[2]= 10
print(sum)

[1, 2, 10, 4, 5, 6]

In [ ]:
#to append
sum.append(200)
print(sum)

[1, 2, 10, 4, 5, 6, 200]

In [ ]:
sum.append(1245)
print(sum)

[1, 2, 10, 4, 5, 6, 200, 1245]

In [ ]:
#to insert a value to a particular position
sum.insert(2,224)
print(sum)

[224, 1, 224, 2, 10, 4, 5, 6, 200, 1245]

In [ ]:
sum.insert(5,154)
print(sum)

[224, 1, 224, 2, 10, 154, 4, 5, 6, 200, 1245]

In [ ]:
# extend method
num=[22,44,88]
sum.extend(num)
print(sum)

[224, 1, 224, 2, 10, 154, 4, 5, 6, 200, 1245, 22, 44, 88]

In [ ]:
sum.extend(lang)
print(sum)

[224, 1, 224, 2, 10, 154, 4, 5, 6, 200, 1245, 22, 44, 88, 'c', 'c++', 1, 2, 3]

In [ ]:
#to remove a value
sum.remove(2)
print(sum)

[10, 154, 4, 5, 6, 200, 1245, 22, 44, 88, 1, 2, 3]

In [ ]:
#to clear a list
sum.clear()
print(sum)

[]

In [ ]:
#creating a tuple
car=("ferrari",'mclarren','lamborgini')
print(car)
print(type(car))

('ferrari', 'mclarren', 'lamborgini')
<class 'tuple'>

In [ ]:
#to find the length
print(len(car))

3

In [ ]:
bike=('ninja','duke','royalenfield')
cb=car+bike
print(cb)

('ferrari', 'mclarren', 'lamborgini', 'ninja', 'duke', 'royalenfield')

In [ ]:
cb.append('triumph')
print(cb)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
#creating a set
setA={"bannana","minions","guru","despicable"}
print(setA)

{'despicable', 'minions', 'bannana', 'guru'}

In [ ]:
print(setA[1])

TypeError: 'set' object is not subscriptable

In [ ]:
print(len(setA))

4

In [ ]:
print("bannana" in setA)

True

In [ ]:
print("tomato" in setA)

False

In [ ]:
setA.add("Nefario")
print(setA)

{'despicable', 'guru', 'Nefario', 'minions', 'bannana'}

In [ ]:
setA.update([3,"unicorn"])
print(setA)

{'despicable', 3, 'guru', 'Nefario', 'unicorn', 'minions', 'bannana'}

In [ ]:
#adding two numbers
a=5
b=10
sum=a+b
print(sum)

15

In [ ]:
a= int(input("enter first number:"))
b= int(input("Enter second number"))
sum= (a+b)
print("sum is : ",sum)

enter first number:5
Enter second number7
sum is :  12

In [ ]:
a= int(input("Enter the First Number: "))
b= int(input("Enter the Second Number: "))
total= a*b
print("The Final Answer is :   ",total)

Enter the First Number: 5
Enter the Second Number: 5
The Final Answer is :    25

In [ ]:
a= int(input("Enter the First Number: "))
b= int(input("Enter the Second Number: "))
total= a/b
print("The Final Answer is :   ",total)

Enter the First Number: 5
Enter the Second Number: 0

ZeroDivisionError: division by zero

In [ ]:
a= int(input("Enter the First Number: "))
b= int(input("Enter the Second Number: "))
total= a-b
print("The Final Answer is :   ",total)

Enter the First Number: 5
Enter the Second Number: 8
The Final Answer is :    -3

In [ ]:
#to create a set
set1= {"tomato","carrot","cabbage"}
print(set1)

{'tomato', 'carrot', 'cabbage'}

In [ ]:
#using remove method for set
set1.remove("carrot")
print(set1)

KeyError: 'carrot'

In [ ]:
#using discard method
set1.discard("tomato")
print(set1)

{'cabbage'}

In [ ]:
#to join or union two sets
num1={1,2,3}
num2={3,4,5,6}
c=num1.union(num2)
print(c)

{1, 2, 3, 4, 5, 6}

In [ ]:
#using difference functions 1st way
a={1,2,3}
b={3,4,5,6}
c=a-b
print(c)
d=a.difference(b)
print(d)

{1, 2}
{1, 2}

In [ ]:
# interesection using &
interesection= a & b
print("Intersection using & operator is : ",interesection)

Intersection using & operator is :  {3}

In [ ]:
#intersection using intersection method
inter = a.intersection(b)
print("Intersection using method is : ",inter)

Intersection using method is :  {3}

In [ ]:
# to clear a set
d.clear()
print(d)

set()

In [ ]:
#to delete the set
del d
print(d)

NameError: name 'd' is not defined

In [ ]:
num1 = {1,2,3,4,6,8}
num2 = {4,5,6,7,9,2}
num1.remove(8)
print(num1)

{1, 2, 3, 4, 6}

In [ ]:
num2.discard(7)
print(num2)

{2, 4, 5, 6, 9}

In [ ]:
c=num1.union(num2)
print(c)

{1, 2, 3, 4, 5, 6, 9}

In [ ]:
d=num1-num2
print(d)

{1, 3}

In [ ]:
e=num1.difference(num2)
print(e)

{1, 3}

In [ ]:
f=num1 & num2
print(f)

{2, 4, 6}

In [ ]:
g= num1.intersection(num2)
print(g)

{2, 4, 6}

In [ ]:
g.update([10])
print(g)

{2, 10, 4, 6}

In [ ]:
# creating a dictionary
dic1 = {"Name":"riyas",
        "email":"rys@gmail.com",
        "phone": 12345}
print(dic1)

{'Name': 'riyas', 'email': 'rys@gmail.com', 'phone': 12345}

In [ ]:
#to access a particular value
a= dic1["Name"]
print(a)

riyas

In [ ]:
a=dic1.get("email")
print(a)

rys@gmail.com

In [ ]:
dic1["Name"]="ansar"
print(dic1)

{'Name': 'ansar', 'email': 'rys@gmail.com', 'phone': 12345, 'name': 'ansar'}

In [ ]:
#to add a new key
dic1["age"]=19
print(dic1)

{'Name': 'ansar', 'email': 'rys@gmail.com', 'phone': 12345, 'name': 'ansar', 'age': 19}

In [ ]:
dic2=dic1.copy()
print(dic2)

{'Name': 'ansar', 'email': 'rys@gmail.com', 'phone': 12345, 'name': 'ansar', 'age': 19}

In [ ]:
dic2.pop("email")
print(dic2)

{'Name': 'ansar', 'phone': 12345, 'age': 19}

In [ ]:
del dic2["phone"]
print(dic2)

{'Name': 'ansar', 'age': 19}

In [ ]:
message= "HELLO WORLD"
print(message)

HELLO WORLD

In [ ]:
print(message[6])

W

In [ ]:
#slicing
print(message[0:7])

HELLO W

In [ ]:
a= "                helllo            "
print(a)
print(a.strip())

                helllo
helllo

In [ ]:
a="HELLO WORLD"
print(a.lower())

hello world

In [ ]:
a="there once was a ship that put to sea"
print(a.upper())

THERE ONCE WAS A SHIP THAT PUT TO SEA

In [70]:
# to swap cases
a= "Once Upon A tiMe tHeRe WaS A GHosT"
print(a.swapcase())

oNCE uPON a TImE ThErE wAs a ghOSt

In [72]:
#to replace a character
a="learn python"
print(a.replace("p","j"))

learn jython

In [76]:
#endswith
word="Hello, World"
result = word.endswith("World")
print("Ends with world :",result)

Ends with world : True

In [75]:
#starts with
word= "hello my boy"
result= word.startswith("hello")
print("starts with hello :",result)

starts with hello : True